body{font-size:15px; line-height:1.5}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1,h2,h3,h4,h5,h6{font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}
h1{font-size:27px}
h2{font-size:25px}
h3{font-size:23px}
h4{font-size:21px}
h5{font-size:19px}
h6{font-size:17px}
